<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>
    <%- include('header'); %>
        <main class="main">
            <section class="course-registration-section">
                <div class="course-registration-box">
                    <h1>Registro de Curso</h1>
                    <form action="/admin/course-register" method="post">
                        <div>
                            <label class="registration-labels" for="title">Título:</label>
                            <input class="registration-input-fields" type="title" name="title" id="title" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="description">Descrição:</label>
                            <input class="registration-input-fields" type="text" name="description" id="description" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="provider">Provedor/Plataforma:</label>
                            <input class="registration-input-fields" type="text" name="provider" id="provider" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="instructors">Instrutores(as):</label>
                            <input class="registration-input-fields" type="text" name="instructors" id="instructors" placeholder="Se houver mais de um, separá-los por vírgula. ex: João,Maria,José" required>
                        </div>
                        <label for="isPaid"><input name="isPaid" id="isPaid" type="checkbox" value="isPaid" class="">É pago?</label><br>
                        <label for="fromUniversity"><input name="fromUniversity" id="fromUniversity" type="checkbox" value="fromUniversity" class="">É de uma faculdade/universidade?</label><br>
                        <label for="haveCertificate"><input name="haveCertificate" id="haveCertificate" type="checkbox" value="haveCertificate" class="">Possui certificado?</label><br>
                        <div>
                            <label class="registration-labels" for="price">Preço:</label>
                            <input class="registration-input-fields" type="number" name="price" id="price" min="0" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="currency">Moeda (ex: BRL):</label>
                            <input class="registration-input-fields" type="text" name="currency" id="currency" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="language">Língua (ex: pt-br):</label>
                            <input class="registration-input-fields" type="text" name="language" id="language" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="subject">Assunto:</label>
                            <input class="registration-input-fields" type="text" name="subject" id="subject" required>
                        </div>
                        <div>
                            <label class="registration-labels" for="category">Categoria:</label>
                            <input class="registration-input-fields" type="text" name="category" id="category" required>
                        </div>
                        <button type="submit">Registrar Curso</button>
                    </form>

                </div>
                <p>Um pouquinho todo dia e você chega lá!</p>
            </section>
        </main>

        <%- include('footer'); %>
</body>

</html>