<div class="header">
    <a href="/">
        <p>EU ME EDUCO</p>
    </a>
    <a href="#">Cursos</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Registrar</a>
    <form action="/auth/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</div>