<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= title %>
</title>
<link href="/public/assets/style.css" rel="stylesheet" type="text/css" />