<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <main class="main">
        <section class="search">
            <h1 class="search-title">Avalie e Descubra Cursos Online</h1>
            <div class="search-bar">
                <input type="text" name="" id="">
                <input type="button" value="">
            </div>
        </section>
        <section class="courses">

        </section>
        <section class="providers">

        </section>
    </main>
    <footer>
        <%- include('footer'); %>
    </footer>
</body>

</html>