html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    height: 4.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: #FDFDFD;
}

.header i p {
    margin: 0 1rem;
}

@media (min-width: 800px) {}

.main {
    flex: 1 0 auto;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses {}

.providers {}

.main h1 {}

.search-bar {}

.footer {
    padding: 1rem;
    border: 1px solid #00f;
    flex-shrink: 0;
}