html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

:root {
    --light-gray: #FDFDFD;
    --black-font: #010101;
    --dark-font: #333;
    --light-font: #666;
}

body {
    font-family: 'Heebo', 'Roboto', 'Source Sans Pro', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* HEADER */

.header {
    height: 4.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container,
.left-nav-container,
.right-nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo,
.left-nav,
.right-nav {}

.logo {}

.left-nav {
    margin-right: auto;
}

.right-nav {
    margin-left: auto;
}

.nav-btns {
    text-decoration: none;
    color: ;
}

.right-nav ul,
.left-nav ul {
    display: flex;
    padding: 0px 0.5rem;
}

.right-nav ul li,
.left-nav ul li {
    list-style-type: none;
    padding: 0px 0.5rem;
}

.logout-btn {}

.courses-btn {}

.login-btn {}

.register-btn {}

@media (min-width: 764px) {}

@media (min-width: 1024px) {}


/* -- MAIN SECTION -- */

.main {
    flex: 1 0 auto;
}


/* -- HOMEPAGE MAIN -- */

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    color: var(--black-font);
}

.search-bar {}

.courses {}

.providers {}

.main h1 {}

.search-bar {}


/* -- LOGIN PAGE -- */

.login-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.login-box {
    padding: 2rem;
    border-radius: 7px;
    background-color: var(--light-gray);
}


/* -- REGISTER MAIN -- */

.register-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.register-box {
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--light-gray);
}


/* FOOTER */

.footer {
    padding: 1rem;
    min-height: 100px;
    flex-shrink: 0;
    border: 1px solid #EEE;
    background-color: var(--light-gray);
}

.last-line {
    color: var(--dark-font);
}